<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%thread] (%class:%line\) - %m%n</pattern>
        </encoder>

    </appender>

    <!-- 文件输出日志 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>mybatis_demo.log</file>

        <encoder>
            <pattern>[%d{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%thread] (%class:%line\) - %m%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出日志 -->
    <appender name="SQL" class="ch.qos.logback.core.FileAppender">
        <file>mybatis_demo-sql.log</file>

        <encoder>
            <pattern>[%d{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%thread] (%class:%line\) - %m%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出日志 -->
    <appender name="EX" class="ch.qos.logback.core.FileAppender">
        <file>mybatis_demo-ex.log</file>

        <encoder>
            <pattern>[%d{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%thread] (%class:%line\) - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.alibaba.druid.filter.stat.StatFilter" level="ERROR">
        <appender-ref ref="SQL"/>
    </logger>

    <logger name="log.unknown.exception" level="ERROR">
        <appender-ref ref="EX"/>
    </logger>

    <!--root-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
